ul {
  list-style-type: none;
}

.comment-box {
	width: 500px;
	height: 50px;
	font-size:15px;
}

.add-btn {
	width: 80px;
    font-size: 15px;
    background-color: #5b0de6;
    color: white;
}

.comment-handle {
	color:blue;
	margin-top:20px;
	text-decoration:underline;
}

.name-handle {
	width: 200px;
	height: 30px;
	font-size: 15px;
}

.hr{
	color:rgba(0,0,0,0.15);
	width:600px;
}

.comment-header {
	display:flex;width:50%;justify-content:space-between;
}

.comment-input-row {
	display:flex;margin-top:20px;margin-bottom:10px;
}